# Dependencies
node_modules/
/jspm_packages
.pnp
.pnp.js

# Production / Build Outputs
dist/
build/
out/
.next/
server/dist

# Debugging and Logs
     logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment Variables and Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.pem

# Diagnostic and Coverage Reports
coverage/
.nyc_output

# IDE, Editors, and OS Files
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Frontend Testing and Cache
.eslintcache
.stylelintcache
.cache/
.parcel-cache/
.turbo/
